body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #game-wrapper {
    display: inline-block;
    margin: 30px auto;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    grid-gap: 5px;
    justify-content: center;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
  }
  
  .cell.selected {
    background: #272e6e;
    color: white;
  }
  
  .cell.found {
    background: #4CAF50;
    color: white;
  }
  
  #words-list ul {
    list-style: none;
    padding: 0;
  }
  
  #words-list li.found-word {
    color: #4CAF50;
    text-decoration: line-through;
  }
  
  #message {
    margin: 15px;
    font-weight: bold;
    color: #202257;
    font-size: 1.2rem;
  }
  
  #score {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #logo-container {
    position: fixed;      /* Immer sichtbar, auch beim Scrollen */
    bottom: 10px;         /* Abstand vom unteren Rand */
    left: 10px;           /* Abstand vom linken Rand */
    z-index: 1000;        /* Über anderen Elementen */
  }
  
  #logo-container img {
    width: 400px;          /* Größe anpassen */
    height: auto;         /* proportional */
    display: block;
  }