body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #game-wrapper {
    display: inline-block;
    margin: 30px auto;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 5px;
    width: 90vw;          
    max-width: 450px;     
    margin: 0 auto;
  }
  
  .cell {
    width: 8vw;     
    height: 8vw;
    max-width: 40px;  /* Desktop bleibt gleich */
    max-height: 40px;
    min-width: 25px;  /* nicht zu klein */
    min-height: 25px;
  
    background: white;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
  }
  
  .cell.selected {
    background: #272e6e;
    color: white;
  }
  
  .cell.found {
    background: #4CAF50;
    color: white;
  }
  
  #words-list ul {
    list-style: none;
    padding: 0;
  }
  
  #words-list li.found-word {
    color: #4CAF50;
    text-decoration: line-through;
  }
  
  #message {
    margin: 15px;
    font-weight: bold;
    color: #202257;
    font-size: 1.2rem;
  }
  
  #score {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #logo-container {
    position: fixed;      
    bottom: 10px;         
    left: 10px;           
    z-index: 1000;        
  }
  
  #logo-container img {
    width: 400px;          /* Größe anpassen */
    height: auto;         
    display: block;
  }

  #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none; /* erstmal versteckt */
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }
  
  #popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  
  #popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #142973;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }